<!DOCTYPE html>
<html>
<head>
  <%= content_tag :title, "#{Respect::Rails::application_name.titleize} API" %>
  <%= stylesheet_link_tag    "respect/rails/schemas", :media => "all" %>
  <%= javascript_include_tag "respect/rails/schemas" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
